---
import Layout from "../layouts/Layout.astro";
import GraphicSpecies from "../components/GraphicsSpecies.astro";
---
<Layout title="TP2 — Ancres & Slider">

  <div class="flex gap-6 overflow-x-auto snap-x snap-mandatory scroll-p-6">
    <section id="adelie" class="snap-start min-w-full">
      <GraphicSpecies species="Adelie" title="Adelie — Scatterplot" />
    </section>

    <section id="gentoo" class="snap-start min-w-full">
      <GraphicSpecies species="Gentoo" title="Gentoo — Scatterplot" />
    </section>

    <section id="chinstrap" class="snap-start min-w-full">
      <GraphicSpecies species="Chinstrap" title="Chinstrap — Scatterplot" />
    </section>
  </div>
</Layout>
